article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Colours
$orange: #EC6333;
$black: #222;
$grey: #E4E4E1;
$lightblue: #EAF6FC;
$lightgrey: #FCFCFC;

//Fonts
$serif: 'Times new roman';
$sansSerif: 'PT Sans', sans-serif;



//Broad Styles//

html {
	font-size: 16px;
	font-family: $sansSerif;
	color: $black;
}

body {
	background: $lightblue;
}

h1,
h2,
h3,
h4 {
	font-family: $serif;
}

h1 {
  color: $lightgrey;
	margin-left: 8%;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

h3 {
	font-family: $sansSerif;
	color: #666666;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: left;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

header.main {
	background: $orange;
	box-shadow: 0 1px 5px #555;
	border-bottom: 2px solid $grey;
	.wrapper {
	padding: 20px 0;
	}
}

.banner-container {
	display: flex;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
	width: 45%;
}

img.logo-image {
	height: 90px;
}

.logo-container h3{
	width: 75%;
	margin-left: 20%;
	font-size: 1rem;
	color: $lightgrey;
	margin-top: -30px;
	letter-spacing: 1px;
	font-weight: 300;
}

.submit-form {
	width: 50%;
	display: flex;
	align-items: baseline;
	padding-top: 15px;
	justify-content: space-between;
}

.submit {
	border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	border: 1px solid;
	border-color: #54acc7 #4ca0ba #398a9d;
	background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
	cursor: pointer;
	font-size: 15px;
  font-weight: bold;
  margin: 0;
  width: 40%;
  transition: all 0.5s ease;
  &:hover {
  	box-shadow: inset 0 0 10px black;
  }
}

.city,
.keyword {
  border: 1px solid #CFCBC8;
  background: #f9f9f8;
  font-family: Arial,Helvetica,sans-serif;
  padding: 10px 10px;
  margin-left: 0;
  font-size: 14px;
  box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
}

.city {
	width: 38%;
}

.submit-container {
	width: 60%;
}

.keyword {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 60%;
}

input {
	border-radius: 4px;
	border: 1px solid $grey;
	background: $lightgrey;
}

input.submit {
	margin: 0;
	padding: 10px 5px;
	width: 40%;
}

.background-image {
	width: 100%;
	opacity: .7;
	display: block;
}

.results-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-between;

}

.main-footer {
	background: $grey;
	box-shadow: 0 -1px 5px #555;
	color: $black;
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 2px solid $orange;
	p {
		padding: 25px 0;
		margin: 0;
		text-align: center;
		font-size: .8rem;
	}
	a {
		color: $black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.priceBuy {
display: flex;
align-items: center;
justify-content: space-between;
}

.etsy-container {
	display: flex;
	width: 32%;
	margin-top: 25px;
	background: $lightgrey;
	padding: 1%;
	border-radius: 5px;
	border: 1px solid $grey;
	text-align: center;
	flex-direction: column;
}

.etsy-container .priceBuy {
	color: #85c655;
}

.etsy-container a {
	text-decoration: none;
	color: #f56400;
	text-transform: uppercase;
	font-size: 12px;
}

.etsy-container a:hover {
	text-decoration: underline;
	color: #f56400;
}

.descriptionContainer {
	height: 260px;
	display: inline-block;
	border: 1px solid $grey;
	min-width: 100%;
	max-width: 100%;
	word-wrap: break-word;
}

.etsy-description {
	text-align: left;
	font-size: 15px;
	color: #B2B2B2;
	padding: 5%;
	word-wrap: break-word;
}

.img-responsive {
	max-width: 100%;
  max-height: 200px;
  min-height: 200px;
  display: block;
  background-size: cover;
  background-position: center;
}

.hide {
	display: none;
}

.nav-controls {
	text-align: center;
}

.backToTop {
	font-size: 2.5rem;
	color: $orange;
	margin: 0 auto;
	display: block;
}

.show-more {
	margin: 25px 0;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	border: 1px solid;
	border-color: #54acc7 #4ca0ba #398a9d;
	background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	padding: 15px;
	transition: all 0.5s ease;
	&:hover {
		// background: darken(-webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0), 50%);
		box-shadow: inset 0 0 10px black;
	}
}

.title-container {
	height: 50px;
}

.oops {
	margin: 50px 20%;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.4;
}

.giphy {
	margin: 25px auto 100px auto;
	border: 5px solid $grey;
	border-radius: 5px;
}




					// Media Queries//
					//--------------//

@media all and (max-width: 1000px) {
	header.main .wrapper {
		padding-left: 2%;
		padding-right: 2%;
	}
}

@media all and (max-width: 960px) {
	.banner-container {
		flex-direction: column;
	}
	
	.logo-container,
	.submit-form {
		width: 100%;
	}
}

@media all and (max-width: 850px) {
	.etsy-container {
		width: 49%;
	}
}

@media all and (max-width: 530px) {
	.etsy-container {
		justify-content: space-around;
		width: 96%;
		margin: 2%;
		padding: 2%;
	}
}

@media all and (max-width: 435px) {
	h1 {
		font-size: 1.8rem;
	}

	.logo-container h3 {
		font-size: .8rem;
	}
}

@media all and (max-width: 400px) {
	.city,
	.keyword,
	input.submit {
		padding: 5px 3px;
		font-size: .8rem;
	}
}

@media all and (max-width: 345px) {
	html {
		font-size: 12px;
	}
}